{% extends "base.html" %} {% block content %}

<!-- Main Section Start -->
<div class="main-section">
  <div
    class="page-section nopadding cs-nomargin"
    style="
      margin-top: 0px;
      padding-top: 60px;
      padding-bottom: 60px;
      margin-bottom: 0px;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="user-dashboard loader-holder">
            <div class="user-holder">
              <h4 class="text-center" style="margin-bottom: 0">
                Bienvenido a FoodOnline
              </h4>
              <p class="text-center">
                Complete este formulario para registrarse en el mercado de
                alimentos en línea.
              </p>
              <hr />
              <div id="restaurant-sets-holder">
                <form
                  class="form-fields-set foodbakery-dev-restaurant-form"
                  method="post"
                  action="{% url 'registerUser' %}"
                >
                  {% csrf_token %}
                  <ul
                    class="register-add-restaurant-tab-container restaurant-information-tab-container"
                  >
                    <li>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="row">
                            <ul>
                              <li>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Nombres</label>{{ form.first_name }}
                                  </div>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Apellido</label>{{ form.last_name }}
                                  </div>
                                </div>
                                {% comment %}
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Restaurant name </label
                                    ><input
                                      type="text"
                                      class="foodbakery-dev-req-field"
                                      id="foodbakery_restaurant_title_59054637"
                                      name="foodbakery_restaurant_title"
                                    />
                                  </div>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Restaurant phone</label
                                    ><input
                                      type="text"
                                      id="foodbakery_restaurant_phone_59054637"
                                      name="foodbakery_restaurant_contact_phone"
                                    />
                                  </div>
                                </div>
                                {% endcomment %}
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Correo Electrónico</label>{{ form.email }}
                                  </div>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Nombre de usuario</label>
                                    {{ form.username }}
                                  </div>
                                </div>
                              </li>

                              <li>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Contraseña</label>
                                    {{ form.password }}
                                  </div>
                                </div>
                                <div
                                  class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                >
                                  <div class="field-holder">
                                    <label>Confirmar contraseña</label>
                                    {{ form.confirm_password }}
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      {% comment %} ERROR {% endcomment %}
                      {% for field in form%} 
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li style="color: #cc0828;" >{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                      {% endfor %}

                        <li style="color: #cc0828;" >{{ form.non_field_errors }}</li>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="field-holder text-center">
                                <div class="payment-holder d-flex justify-content-center">
                                  <input
                                    type="submit"
                                    value="Registrar"
                                    id="btn-next-restaurant-information"
                                    class="bgcolor"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          

                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!-- Load message -->
                            {% include 'includes/alerts.html' %}
                        </div>
                      </div>

                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->

{% endblock %}
